{% extends 'base.html' %}

{% block title %}Statistics - Inventory Management System{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Statistics</h1>
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">System Statistics</h6>
            </div>
            <div class="card-body">
                <p>This is the statistics page where you can view system statistics.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}